h1{
    text-align: center;
    color: rgb(14, 12, 12);
}
.container{
    display: grid;
    grid-gap: 125px;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
}
.wow{
    font-size: 20px;
    border-radius: 40%; 
    padding: 20px;
    width: 150%;
    height: 15vh;
    margin-left: -40px;
    cursor: pointer;

    transition: 0.5s;
}
.wow:hover{
    transform: scale(1.05);
}
body{
    width: 98%;
    height: 94vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(backgroundsoungboard.jpg);
    background-position: center;
    background-size: cover;
}